
.text-info { color: darken($info, 15%) !important; }
.text-success { color: darken($success, 8%) !important; }
.text-warning { color: darken($warning, 22%) !important; }
.text-danger { color: darken($danger, 15%) !important; }
.text-black { color: $black !important; }

.icon-xs { font-size: $icon-size-xs !important; }
.icon-sm { font-size: $icon-size-sm !important; }
.icon-lg { font-size: $icon-size-lg !important; }
.icon-xl { font-size: $icon-size-xl !important; }
.icon-xxl { font-size: $icon-size-xxl !important; }

