// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #fafafb !default;
$gray-200: #f1f2f2 !default;
$gray-300: #e4e5e6 !default;
$gray-400: #dde0e2 !default;
$gray-500: #72757e !default;
$gray-600: #313a43 !default;
$gray-700: #252e38 !default;
$gray-800: #17222f !default;
$gray-900: #0e1823 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
  ),
  $grays
);
// fusv-enable

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #EB4E3D !default;
$orange:  #fd7e14 !default;
$yellow:  #f29836 !default;
$green:   #26ac0b !default;
$teal:    #20c997 !default;
$cyan:    #007aff !default;
$dark:    #3e464f !default;
$light:   #bec2c4 !default;
$brand:   #154898 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $brand !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $light !default;
$dark:          $dark !default;
$lvl1:          $gray-100 !default;
$lvl2:          $gray-200 !default;
$lvl3:          $gray-300 !default;
$lvl4:          $gray-400 !default;
$lvl-alt1:     $gray-600 !default;
$lvl-alt2:     $gray-700 !default;
$lvl-alt3:     $gray-800 !default;
$lvl-alt4:     $gray-900 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "lvl1":       $lvl1,
  "lvl2":       $lvl2,
  "lvl3":       $lvl3,
  "lvl4":       $lvl4,
  "lvl-alt1":       $lvl-alt1,
  "lvl-alt2":       $lvl-alt2,
  "lvl-alt3":       $lvl-alt3,
  "lvl-alt4":       $lvl-alt4,

  "primary-alpha-70":  rgba($primary, .70),
  "primary-alpha-40":  rgba($primary, .40),
  "primary-alpha-20":  rgba($primary, .20),
  "primary-alpha-10":  rgba($primary, .10),
  "primary-alpha-5":  rgba($primary, .05),

  "secondary-alpha-70":  rgba($secondary, .70),
  "secondary-alpha-40":  rgba($secondary, .40),
  "secondary-alpha-20":  rgba($secondary, .20),
  "secondary-alpha-10":  rgba($secondary, .10),
  "secondary-alpha-5":  rgba($secondary, .05),

  "dark-alpha-70":  rgba($dark, .70),
  "dark-alpha-40":  rgba($dark, .40),
  "dark-alpha-20":  rgba($dark, .20),
  "dark-alpha-10":  rgba($dark, .10),
  "dark-alpha-5":  rgba($dark, .05),

  "light-alpha-70":  rgba($light, .70),
  "light-alpha-40":  rgba($light, .40),
  "light-alpha-20":  rgba($light, .20),
  "light-alpha-10":  rgba($light, .10),
  "light-alpha-5":  rgba($light, .05),

  "info-alpha-70":  rgba($info, .70),
  "info-alpha-40":  rgba($info, .40),
  "info-alpha-20":  rgba($info, .20),
  "info-alpha-10":  rgba($info, .10),
  "info-alpha-5":  rgba($info, .05),

  "success-alpha-70":  rgba($success, .70),
  "success-alpha-40":  rgba($success, .40),
  "success-alpha-20":  rgba($success, .20),
  "success-alpha-10":  rgba($success, .10),
  "success-alpha-5":  rgba($success, .05),

  "warning-alpha-70":  rgba($warning, .70),
  "warning-alpha-40":  rgba($warning, .40),
  "warning-alpha-20":  rgba($warning, .20),
  "warning-alpha-10":  rgba($warning, .10),
  "warning-alpha-5":  rgba($warning, .05),

  "danger-alpha-70":  rgba($danger, .70),
  "danger-alpha-40":  rgba($danger, .40),
  "danger-alpha-20":  rgba($danger, .20),
  "danger-alpha-10":  rgba($danger, .10),
  "danger-alpha-5":  rgba($danger, .05),


  ),
  $theme-colors
);


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-responsive-font-sizes:                true !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  7: $spacer * 4,
  8: $spacer * 10,
  9: $spacer * 16,
  ),
  $spacers
);

// Body
//
// Settings for the `<body>` element.

// Links
//
// Style anchor elements.

$link-color:                              theme-color("primary") !default;
$link-decoration:                         none !default;
$link-hover-color:                        lighter($link-color, 15%) !default;
$link-hover-decoration:                   null !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem !default;



// Components
//
// Define common padding and border radius sizes and more.

$border-width:                2px !default;
$border-color:                $gray-300 !default;


$border-radius:               1.625rem !default;
$border-radius-sm:            1rem !default;
$border-radius-lg:            2rem !default;

$rounded-pill:                50rem !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Inter" !default;
// stylelint-enable value-keyword-case

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-xs:                $font-size-base * .75 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$icon-size-xs:                $font-size-base * 1.125 !default;
$icon-size-sm:                $font-size-base * 1.5 !default;
$icon-size-lg:                $font-size-base * 2 !default;
$icon-size-xl:                $font-size-base * 3 !default;
$icon-size-xxl:               $font-size-base * 4 !default;

$font-weight-lighter:         200 !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          700 !default;

$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.375 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base * 1.125 !default;


$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;

$display1-size:               4rem !default;
$display2-size:               3.5rem !default;
$display3-size:               2.625rem !default;
$display4-size:               2.125rem !default;
$display5-size:               1.625rem !default;
$display6-size:               1.125rem !default;

$display1-weight:             500 !default;
$display2-weight:             500 !default;
$display3-weight:             500 !default;
$display4-weight:             500 !default;
$display4-weight:             500 !default;
$display4-weight:             500 !default;

$display-line-height:         $headings-line-height !default;

// scss-docs-start display-headings
$display-font-sizes: (
  1: 4rem,
  2: 3.5rem,
  3: 2.625rem,
  4: 2.125rem,
  5: 1.625rem,
  6: 1.125rem
) !default;

$display-font-weight: 500 !default;
$display-line-height: $headings-line-height !default;
// scss-docs-end display-headings

$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             .875em !default;

$sub-sup-font-size:           .75em !default;

$text-muted:                  $gray-600 !default;



// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-font-family:       null !default;
$input-btn-font-size:         $font-size-base !default;

$input-btn-focus-width:         .2rem !default;
$input-btn-focus-color-opacity: .25 !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-font-size-sm:      $font-size-sm !default;

$input-btn-padding-y-lg:      .625rem !default;
$input-btn-padding-x-lg:      1.5rem !default;
$input-btn-font-size-lg:      $font-size-base !default;

$input-btn-border-width:      2px !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-sm:        $border-radius-sm !default;
$btn-border-radius-lg:        $border-radius-lg !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;


// Forms



$input-bg:                              rgba($secondary, .20) !default;

$input-border-color:                    $gray-400 !default;

$input-border-radius:                   $border-radius !default; 
$input-border-radius-sm:                $border-radius-sm !default;
$input-border-radius-lg:                $border-radius-lg !default;

$input-focus-bg:                        $white !default;


$input-placeholder-color:               $gray-500 !default;


// Form validation


// scss-docs-start form-validation-states

// scss-docs-end form-validation-states

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// scss-docs-start zindex-stack

// scss-docs-end zindex-stack


// Navs




// Navbar



// Dropdowns
//
// Dropdown menu container and contents.



// Pagination



// Cards



// Tooltips


// Form tooltips must come after regular tooltips


// Popovers



// Toasts



// Badges



// Modals

// Padding applied to the modal body

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-xxl:                         100% !default; 



// Alerts
//
// Define alert colors, border radius, and padding.


// Progress bars


// List group


// Image thumbnails



// Figures



// Breadcrumbs



// Carousel


// Spinners



// Close



// Code

